.navbar {
  @extend .is-fixed-top;
  @extend .is-white;

  &, .navbar * {
    transition: all .3s ease-in;
  }

  .navbar-brand svg {
    stroke: black;
    fill: transparent;
    height: 4rem;
    transition: all .3s ease-in;
    transform: rotate(0);
  }

  .navbar-item {
    text-transform: uppercase;
    font-weight: 700;

    .icon {
      color: $primary
    }
  }

  .navbar-menu {
    box-shadow: none !important;
    background-color: transparent!important;
  }
}
.on-top:not(.is-active) {
  @extend .is-dark;
  background-color: transparent!important;
  .navbar-brand svg {
    stroke: white;
    height: 5rem;
    transform: rotate(20deg);
  }
}
