.navbar {
  @extend .is-fixed-top;
  @extend .is-white;

  &, .navbar * {
    transition: all .3s ease-in;
  }

  .navbar-brand svg {
    stroke: black;
    fill: transparent;
    height: 4rem;
    transition: all .3s ease-in;
    &.leaf-left {
      transform: rotate(-20deg);
    }
    &.leaf-right {
      transform: rotate(20deg);
    }
  }

  .burger {
    height: initial;
  }

  .brand-title {
    @extend .is-size-6-touch;
    @extend .is-size-5-desktop;
    text-wrap: normal;
    margin-left: 1rem;
    align-self: center;
    text-transform: uppercase;
}

.navbar-item {
  text-transform: uppercase;
  font-weight: 700;

  .icon {
    color: $primary
  }
}

.navbar-menu {
  box-shadow: none !important;
  background-color: transparent!important;
}
}
.on-top:not(.is-active) {
@extend .is-dark;
background-color: #00000055!important;
.navbar-brand svg {
  stroke: white;
  height: 5rem;

  &.leaf-left {
    transform: rotate(-30deg);
  }
  &.leaf-right {
    transform: rotate(30deg);
  }
}
}
